.button {
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition-property: background-color, color;
    transition-duration: 0.1s, 0.1s;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 48%;
}

.saveButton {
    color: rgb(255, 255, 255);
    background-image: url("project://database/Assets/Visuals/Sprites/UI/Editor%20Buttons.png?fileID=-3779293812660613945&guid=4e53c1a50be27c744b5c3a5e6b6f48d6&type=3#Editor Buttons_0");
    background-color: rgba(0, 0, 0, 0);
}

.discardButton {
    background-image: url("project://database/Assets/Visuals/Sprites/UI/Editor%20Buttons.png?fileID=2046373611301936240&guid=4e53c1a50be27c744b5c3a5e6b6f48d6&type=3#Editor Buttons_1");
    background-color: rgba(0, 0, 0, 0);
}

.saveButton:hover {
    color: rgb(255, 255, 255);
}

.saveButton:active {
    color: rgb(0, 0, 0);
}

.discardButton:hover {
}

.discardButton:active {
    color: rgb(0, 0, 0);
}
