:root {
}

.mainContainer {
    flex-direction: row;
    flex-grow: 1;
}

.leftPanel {
    flex-grow: 1;
}

.rightPanel {
    flex-grow: 1;
}

.middlePanel {
    flex-grow: 1;
    align-self: center;
    padding: 5px;
}

.middlePanelButton {
    border-radius: 16px;
    font-size: 20px;
}


