:root {
    --inv-bg: var(--ui-bg-2);
    --inv-border: var(--ui-border);
    --inv-padding: 8px;
    --inv-border-width: 1px;
    --slider-dragger-width: 50%;
    --slider-dragger-radius: 10px;
}






