

.styledContainer {
    background-color: rgb(41, 41, 41);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
