.item-info {
    width: 64px;
    height: 64px;

    margin-right: 4px;
    margin-bottom: 4px;
}

.item-info__icon
{
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    flex-shrink: 0;
    background-color: rgb(24, 24, 24);
    border-radius: 3px;
    -unity-background-scale-mode: scale-to-fit;
}

.item-info > .item-info__text-column,
.item-info > .item-info__additional-info {
    display: none;
}